<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/vue@next"></script>

    <title>Document</title>
  </head>
  <body>
    <main class="container">
      <div id="game-container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
          <!-- Health bar container -->

          <div class="col-md-12 px-0">
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                :style="monsterBarStyle"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ monsterHealth }}%
              </div>
            </div>

            <h1 class="display-8 fst-italic">Monster Health</h1>

            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                :style="playerBarStyle"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                {{ playerHealth }}%
              </div>
            </div>
            <h1 class="display-8 fst-italic">Player Health</h1>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div
              class="
                row
                g-0
                border
                rounded
                overflow-hidden
                flex-md-row
                mb-4
                shadow-sm
                h-md-250
                position-relative
              "
            >
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"
                  >Battle Logs</strong
                >
                <ol class="list-group list-group-numbered">

                  <li v-for="logMessage in logMessages" class="list-group-item d-flex justify-content-between align-items-start">
                    
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Turn: {{ logMessage.attacker }} </div> 
                      <div v-if="logMessage.attackType ==='Heal'">
                        {{ logMessage.attacker }} - heals himself for {{ logMessage.attackValue }}
                      </div>
                      <div v-else>
                        {{ logMessage.attacker }} - attack and deals for {{ logMessage.attackValue }}

                      </div>
                    </div>


                  </li>
                  
                </ol>
              </div>
             
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="
                row
                g-0
                border
                rounded
                overflow-hidden
                flex-md-row
                mb-4
                shadow-sm
                h-md-250
                position-relative
              "
            >
              <div
                v-if="winner"
                class="col p-4 d-flex flex-column position-static"
              >
                <h1 class="display-8 fst-italic">Game Over!!!</h1>
                <h2 v-if="winner === 'player'" class="display-8 fst-italic">
                  You Win
                </h2>
                <h2
                  v-else-if="winner === 'monster'"
                  class="display-8 fst-italic"
                >
                  You Lost
                </h2>
                <h2 v-else="winner === 'draw'" class="display-8 fst-italic">
                  Draw
                </h2>
                <button @click="startGame" type="button" class="btn btn-info">
                  Start New Game
                </button>
              </div>

              <div v-else class="col p-4 d-flex flex-column position-static">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="attackMonster"
                >
                  Attack
                </button>
                <div class="mb-2"></div>

                <button
                  :disabled="specialAttackRule"
                  type="button"
                  class="btn btn-danger"
                  @click="specialAttack"
                >
                  Special Attack
                </button>
                <div class="mb-2"></div>

                <button
                  type="button"
                  class="btn btn-success"
                  @click="healPlayer"
                >
                  Heal
                </button>
                <div class="mb-2"></div>

                <button
                  @click="surrender"
                  type="button"
                  class="btn btn-warning"
                >
                  Surrender
                </button>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Player</text>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script src="app.js"></script>
</html>
